/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  body {
    font-size: 62.5%;
    margin: 25px;
    text-align: center;
    background-image: url("/images/anime-landscape.jpg");
    background-size: cover;
    color: white;
  }

  .main-section {
    background: rgb(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 20px 0;
    width: 40%;
    border-radius: 10px;
  }

  .interactive-features {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .quote-modal {
    margin: 50px auto;
    background: rgb(0, 0, 0, 0.5);
    padding: 25px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .quote-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
.italic {
    font-style: italic;
}

.quote {
    margin-bottom: 15px;
    font-size: 1.25rem;
    font-weight: 700;
}

h1 {
    margin-bottom: 10px;
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}


.anime-name {
  font-size: 1.25rem;
  margin-top: 5px;
}

.hidden {
    display: none;
}

button {
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  background: #55a630;
  color: white;
}

button:hover {
  background: white;
  color: #55a630;
}

.copy-btn {
  margin: 5px auto;
  width: 75px;
}

.input {
  border-radius: 10px;
  border: none;
  padding: 5px;
}